.nav .inverted.segment {
  background-color: #0070c0;
}
.nav .inverted.pointing.menu {
  border: none;
}
.nav .ui.inverted.button {
  margin-left: 10px;
}

.mainContainer {
  margin: 1em;
}
.formContainer {
  margin: auto;
  max-width: 400px;
  padding: 50px 0px 50px 0px;
}

.logo {
  height: 5%;
  width: 5%;
  padding-left: 10px;
}

.lButton {
  width: 196px;
}

.blueback {
  background-color: #0070c0;
  padding-top: 200px;
}

.h600 {
  height: 600px;
}

.greenback {
  background-color: #9bbb59;
}

.margin50bottom {
  margin-bottom: 50px;
}
