.mainContainer {
  margin: 1em;
}
.formContainer {
  margin: auto;
  max-width: 400px;
  padding: 50px 0px 50px 0px;
}

.textContainer {
  max-width: 50%;
}

.textStuff {
  font-size: 20px;
}

.contactContainer {
  max-width: 400px;
  padding: 50px 0px 50px 0px;
}

.logo {
  height: 7.5%;
  width: 7.5%;
  padding-left: 10px;
}

.logocontainer h1 {
  position: relative;
  bottom: 20px;
  left: 10px;
}

.logocontainer img {
  float: left;
}

.lButton {
  width: 400px;
}

.blueback {
  background-color: #0070c0;
  padding-top: 200px;
}

.h600 {
  height: 600px;
}

.greenback {
  background-color: #9bbb59;
}

.margin50bottom {
  margin-bottom: 50px;
}
